* {
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
}

body {
    height:100vh;
    font-family: 'Century Gothic';
    cursor: pointer;
}

.App-header {
    background-color: chartreuse;
    // background-color: #C9ADA7;
    width: 100%;
    display: flex;
    justify-content: center ;
        
        ul {
            width: 40rem;
            justify-content: space-evenly; 
            display: flex;
            margin:0 2rem;
            padding: 10px;           
        }
    }
  
.login-main {
    margin: 5rem auto;
    // width: 15rem;
    // height:20rem;
    border:1px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    // padding:20px;
    gap: 20px;
    width: 250px;
    max-width: 80%;
    min-width: 100px;
    min-height: 250px;
    padding: 20px 40px;
    border-radius: 6px;
    line-height: 2rem;

    .form1 {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    
}

.register-main {
    margin: 5rem auto;
    width: 15rem;
    height:15rem;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding:20px;
    gap:15px;

    form {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;  

        span {
            font-size: 0.60rem;
            font-weight: bold;
        }
    }   
}

.createUser-main {
    margin: 5rem auto;
    width: 10rem;
    height:20rem;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding:20px;
    gap:15px;
}

.errortext {
    color:red;
    font-weight: bold;
    font-size:10px;
} 

.hide {
    display: none;
}

//temp layout
.wrapper {
  height: 97vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.form-wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  max-width: 80%;
  min-width: 100px;
  min-height: 250px;
  padding: 20px 40px;
  border-radius: 6px;
  background-color: #fefefe;
  line-height: 1.5rem;
}

.error {
  font-size:.65rem;
  font-weight: bold;
  color: red;
  display: block;
  position: relative;
}

.info {
  font-size: 0.75rem;
}

p, div {
    font-family: Lato;
  }
  
  /* 
    Colors:
    https://coolors.co/22223b-4a4e69-eadae4-9a8c98-c9ada7 
  */
  /*
  YANKEES BLUE: #22223B
  INDEPENDENCE: #4A4E69
  PLATINUM: #EADAE4
  SPANISH GRAY: #9A8C98
  SILVER PINK: #C9ADA7
  */
  
  .wrapper {
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4A4E69;
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    max-width: 80%;
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
  }
  
  .form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
  }
  
  form, .form1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
  }
  
  button, .buttons  {
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 	0.938em;
    border: none;
    border-radius: 4px;
    background-color: #22223B;
    color: #fefefe;
  }
  button:hover {
    background-color: #4A4E69;
    color: #fefefe;
  }
  
  .error {
    color:#db2269;
    font-size: 0.5em;
    display: relative;
  }

  .fullName,
  .email,
  .password,
  .balance {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .fullName {
    width: 100%;
  }
  
  .email,
  .password,
  .username,
  .balance {
    width: 100%;
  }
  
  .submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

//Warning toasts (for reference)
.popup { 
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;    
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


//popup/toast
.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;  
}
//Warning toasts (for reference)
.popup { 
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;    
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* AJI'S CSS CODE */
//Test table CSS 
th, td {
  width: 200px;
}

.hidden {
  transform: scale(0);
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.show {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeOut {
  from { opacity: 1; }
    to { opacity: 0; }
}
/* AJI'S CSS CODE */