* {
    padding:0;
    margin:0;
}

body {
    height:100vh;
    font-family: 'Century Gothic';
}

// .home-main, .accounts-main, .login-main, .register-main, .profile-main, .logout-main {


.home-main, .accounts-main  {
    
    .App-header {
        background-color: chartreuse;
        width: 100%;
        display: flex;
        justify-content: center ;
        
        ul { 
            width: 50%;
            display: flex;
            list-style-type: none;
            text-decoration: none;
            justify-content: center;
            padding: 10px;

            li {
                margin: 0 20px;
            }
        }
    }

    h1 {
        text-align: center;
        margin-top: 15rem;
    }
}


.login-main {
    margin: 5rem auto;
    width: 15rem;
    height:10rem;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding:20px;

    .form1 {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    
}

.register-main {
    margin: 5rem auto;
    width: 15rem;
    height:15rem;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding:20px;
    gap:15px;

    form {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;  
    }
    
}

.errortext {
    color:red;
    font-weight: bold;
    font-size:10px;
} 

.hide {
    display: none;
}