:root {
    --color-primary: #7C3AED;
    --color-secondary: #FCD34D;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hide {
        transform: scale(0);
        -webkit-animation: fadeOut .5s;
        animation: fadeOut .5s;
    }

    .show {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn .5s;
    }

    @-webkit-keyframes fadeIn {
    from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes fadeIn {
    from { opacity: 0; }
        to { opacity: 1; }
    }

    @-webkit-keyframes fadeOut {
    from { opacity: 1; }
        to { opacity: 0; }
    }
    @keyframes fadeOut {
    from { opacity: 1; }
        to { opacity: 0; }
    }
}

@layer base {
    html, body {
        height: 100%;
    }
    h5, h4, h3, h2, h1 {
        font-family: 'Lato', 'sans-serif';
    }
    p, a, li, span, label, input {
        font-family: 'Source Sans Pro', 'sans-serif';
    }
}

@layer components {
    .cstm-th {
        @apply px-6 py-3 text-left text-xs text-gray-500 uppercase tracking-wider;
        font-family: 'Lato', 'sans-serif';
    }
    .cstm-td {
        @apply px-6 py-4 whitespace-nowrap;
    }
    .cstm-td-text {
        @apply text-sm text-gray-900 capitalize;
        font-family: 'Source Sans Pro', 'sans-serif';
    }
    .transaction-container {
        @apply p-4 bg-white flex-grow shadow;
        max-width: calc((100% - 2rem)/3)
    }
    .image-rotated {
        @apply transform rotate-45;
        margin: 0 0 3px 3px;
    }
    .td-centered-text {
        line-height: calc(2rem - 2px);
    }
    .login-hero {
        background: url('./components/loginBg2.jpg');
        background-size: cover;
    }
}

